<p>Hey {{name}},</p>
<p>
  Here's the status of your tasks:
</p>
<ul>
  <li>Pending Tasks: {{pendingTasks}}</li>
  <li>In Progress Tasks: {{inProgressTask}}</li>
</ul>
<p>If you have any questions, please feel free to contact us.</p>